.ant-layout-header .logo {
    float: left;
    margin: 0 24px 0 0;
    color: white;
    font-size: large;
}

.site-layout {
    /* background: #fff;
    background-color: #508bfc;*/
    background: radial-gradient(50% 50% at 50% 50%, rgb(99, 56, 106) 0%, rgb(49, 4, 56) 100%) 0% 0% / cover;
    min-height: 100vh; 
    padding: 0 50px;
    margin-top: 64px;
}